<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Document</title>
</head>
<body class ="bg-light">
    <div class="container pt-4">
        <h1>User Comments</h1>
        <form method ="POST" id="form">
            <!-- tags was used inside the <form> tag to ensure protection against malicious attacks -->
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script>
        const form = document.getElementById('form');
        form.addEventListener("submit",submitHandler);
        
        function submitHandler(e){
            e.preventDefault();//This prevents the form from submitting the traditional way, which would cause a page reload.
    
            fetch(form.action,{method: 'POST',body: new FormData(form)}) //make a post request to the form's action URL
             // The dot that follows is a promise made by the fetch function that represents an eventual completion of an operation that may be a synchronous.
            .then(response=>response.json())
            .then(data=>{
                if(data.message ==='success'){
                    alert('Success');
                    form.reset()
                }
                else {
                    alert('An error occurred. Please try again.');
                }
            })
           
        }
    </script>
</body>

</html>